<html doctype='html'>
    <head>
        <title>MapReduce Bitches</title>
        <title>MapReduce Example</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
        <script type='text/javascript' src='{{ MEDIA_URL }}js/highcharts.js'></script>
        <script type='text/javascript' src='{{ MEDIA_URL }}charting.js'></script>
        <script type='text/javascript' src='{{ MEDIA_URL }}data{{ data_id }}.js'></script>

        <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:bold&v1' rel='stylesheet' type='text/css'>

        <style>
            h1 { font-family: 'Cabin Sketch', arial, serif; font-size: 100px; text-align:center;}
            #placeholder { width: 2800px; }
        </style>
    </head>

    <body>
        <h1>MapReduce Bitches</h1>
        <div id="placeholder" style="">
        </div>
    </body>
</html>
